- unless @applications.empty?
  - @applications.each do |app|
    %label Name:
    = app.application_name
    %br
    %label Access token: 
    = app.access_token
-else
  %p Add new application

= button_to 'Create new application', new_developer_path, method: 'get'
