.theApp
  .notPlayerW
    .headerAndLibraryW
      %header
        %ul
          %li.first
            %a.active{ href:'' } Library
          %li
            %a{ href:'' } Playlists
        .signoutAndFormW
          %a{ href:'' } Sign out
          %form
            %input{ type:'text', placeholder:'Search' }
      %table.libraryTitles
        %tr
          %th
          %th Name
          %th Time
          %th Artist
          %th Album
      %table.library
        %tr
          %td 1.
          %td Civil war
          %td 3:15
          %td Guns 'n roses
          %td Spagetti incident
        %tr
          %td 1.
          %td Civil war
          %td 3:15
          %td Guns 'n roses
          %td Spagetti incident
    .playlistW
      .titles
        %p.name Favorite songs
        %p.hint playlist
      %img{ src:'http://www.stjudes.org/files/Worship/notes_Resized_177x142.jpg' }
      %table
        %tr
          %td 1. Nothing else metters - Metallica
        %tr
          %td 1. Nothing else metters - Metallica
  .player
    %p
      .span Don't cry
      .span by
      .span Guns 'n roses
    %audio{ controls:'controls' }
