.theApp
  .notPlayerW
    .headerAndLibraryW
      %header
        %ul
          %li.first
            %a.active{ href:'' } Library
          %li
            %a{ href:'' } Playlists
        .signoutAndFormW
          %a{ href:'' } Sign out
          %form
            %input{ type:'text', placeholder:'Search' }
      %table.libraryTitles
        %tr
          %th
          %th Name
          %th Time
          %th Artist
          %th Album
      %table.library
    .playlistW
      .titles
        %p.name Favorite songs
        %p.hint playlist
      %img{ class:"fn-album", src:'http://cdn.last.fm/flatness/responsive/2/noimage/default_album_300_g4.png' }
      %table#pl-songs-list
  .player
    %p.span

  .playerW
    %p
      %span.data 
      %span.hint
      %span.data
    .advanceLine
      .total
      .advance
    .controls
      %img.prev{ src:"#{asset_path "player_prev.png"}" }
      %img.next{ src:"#{asset_path "player_next.png"}" }
      %img.play{ src:"#{asset_path "player_play.png"}" }
    %audio{ class: 'main-player', controls:'controls', hidden: true }
      %source{ src: "", type: "audio/mpeg" }
