development:                                                                                                                                                                                                                          
  adapter: postgresql
  database: ruby_floyd_dev
  username: dev
  password: dev

test:
  adapter: postgresql
  database: ruby_floyd_test
  username: dev
  password: dev

production:
  adapter: postgresql
  database: ruby_floyd_production
  username: dev
  password: dev
