<!DOCTYPE html>
<html>
<head>
  <title>R12Team455</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user-navigation">
	<% if user_signed_in? %>
		<%= link_to 'Edit profile', edit_user_registration_path %> |
		<%= link_to "Logout", destroy_user_session_path, method: :delete %>
	<% else %>
		<%= link_to "Sign up", new_user_registration_path %> |
		<%= link_to "Login", new_user_session_path %>
	<% end %>
</div>

<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, id: "flash_#{name}" %>
<% end %>

<%= yield %>

<script src="http://s0.railsrumble.com/banner.js" type="text/javascript"></script>
</body>
</html>
